
.social-icon-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 3%;
    bottom: 20%;
    z-index: 1000;
}

.social-icon-sidebar i{
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 35px;
    transition: all 0.2s ease;
}

.social-icon-sidebar i:hover{
    color: var(--color-secondary);
}

.social-icon-sidebar .line{
    position: fixed;
    height: 20%;
    width: 1px;
    background-color: white;
    bottom: 0%;
}

@media screen and (max-width: 768px){
    .social-icon-sidebar{
        display: none;
    }
    
    

    .social-icon-sidebar .line{
        display: none;
    }
}